.button {
  height: 48px;
  background-color: #685ed6;
  color: #ffffff;
  border-radius: 6px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 10px;
}

.button-black {
  background-color: #18191f;
}

.button:hover {
  background-color: #f1e4ff;
  color: #685ed6;
  cursor: pointer;
  transition: all 0.2s linear;
}

.headline {
  font-size: 46px;
  font-weight: 800;
}
.headline-center {
  text-align: center;
}

.main-text_colour {
  color: #685ed6;
}

.main-background {
  background-color: #f2f7ff;
}
