@import url(./normalize.css);
@import url(./elementStyle.css);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1d2530;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
}

.header-container {
  position: relative;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-name {
  font-size: 28px;
  font-weight: bold;
}

.header-main__registration-btn > button {
  margin-left: 12px;
}

.header-content {
  margin-top: 130px;
  padding-bottom: 200px;
}

.header-content__title {
  max-width: 435px;
  width: 100%;
  font-size: 50px;
  font-weight: 800;
}

.header-content__title > span {
  display: block;
}

.header-content__subtitle {
  font-size: 24px;
  max-width: 495px;
  width: 100%;
}

.header-content__title {
  margin-bottom: 24px;
}

.header-content__subtitle {
  margin-bottom: 30px;
}

.header-img {
  position: absolute;
  top: 160px;
  right: 0;
  margin-bottom: 60px;
}

.header-img > img {
  max-width: 725px;
  width: 100%;
}

/* feature */

.feature-container {
  position: relative;
}

.feature-content {
  padding-top: 100px;
}

.feature-content__items {
  margin-top: 70px;
  padding-bottom: 120px;
}

.feature-content__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 525px;
  width: 100%;
  margin-bottom: 50px;
}

.feature-content__item > img {
  padding-right: 26px;
}

.feature-content__items-content {
  display: block;
}

.feature-content__items-title {
  width: 428px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature-content__items-subtitle {
  width: 428px;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

.feature-img {
  position: absolute;
  top: 100px;
  right: 100px;
}

/* tarif */

.tarif {
  padding-top: 100px;
}
.tarif-subtitle {
  font-size: 24px;
  margin: 16px auto 40px;
}

.tarif-items > ul {
  display: flex;
  justify-content: space-between;
}

.tarif-item {
  width: 32%;
  text-align: center;
  background-color: #fcfeff;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-bottom: 100px;
}

.tarif-item__title {
  background-color: rgba(104, 94, 214, 0.05);
  padding: 12px 0;
  font-weight: bold;
  font-size: 24px;
}
.tarif-item__subtitle {
  font-size: 26px;
  font-weight: bold;
  max-width: 270px;
  width: 100%;
  margin: 35px auto;
}

.tarif-item__price {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 45px;
}

.tarif-item__button {
  font-weight: bold;
  font-size: 18px;
  padding: 12px 66px;
  margin-bottom: 50px;
}

/* Steps */

.steps-title {
  font-size: 44px;
  margin-bottom: 40px;
}

.steps-lines {
  position: absolute;
}

.steps-items > ul {
  display: flex;
  justify-content: space-between;
}

.steps-item:nth-child(2n) {
  margin: 70px auto 50px;
}

.steps-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
}

.steps-item_number {
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  background-color: #f1e4ff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  margin: 16px auto;
}

.steps-item_title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.steps-item_subtitle {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.steps-item_img {
  margin: 0 auto;
}

/* review */

.review-title {
  padding-top: 70px;
}

.review-items > ul {
  display: flex;
  justify-content: space-between;
}

.review-item {
  max-width: 540px;
}

.review-item_box {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 30px 32px 60px;
  border-radius: 6px;
  margin-top: 70px;
  position: relative;
  -webkit-box-shadow: 0px 6px 20px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 6px 20px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 6px 20px 3px rgba(34, 60, 80, 0.2);
}

.review-item_box::after {
  border: medium solid transparent;
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #fff rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 15px;
}

.review-item__title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.review-item__subtitle {
  font-size: 14px;
  margin-top: 15px;
}

.review-item__userBox {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.review-item__userBox_img {
  border-radius: 50%;
}

.review-item__userBox_content {
  margin-left: 15px;
}

.review-item__userBox_name {
  font-size: 18px;
  font-weight: bold;
}

.review-item__userBox_source {
  font-size: 14px;
  margin-top: 5px;
}
