@import url(./normalize.css);
@import url(./elementStyle.css);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1d2530;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 100vh;
  padding-top: 30px;
}

.header-container {
  position: relative;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-name {
  font-size: 28px;
  font-weight: bold;
}

.header-main__registration-btn > button {
  margin-left: 12px;
}

.header-content {
  margin-top: 130px;
}

.header-content__title {
  max-width: 435px;
  width: 100%;
  font-size: 50px;
  font-weight: 800;
}

.header-content__title > span {
  display: block;
}

.header-content__subtitle {
  font-size: 24px;
  max-width: 495px;
  width: 100%;
}

.header-content__title {
  margin-bottom: 24px;
}

.header-content__subtitle {
  margin-bottom: 30px;
}

.header-img {
  position: absolute;
  top: 160px;
  right: 0;
  margin-bottom: 60px;
}

.header-img > img {
  max-width: 725px;
  width: 100%;
}

/* feature */

.feature-container {
  position: relative;
}

.feature-content {
  padding-top: 100px;
}

.feature-content__items {
  margin-top: 70px;
  padding-bottom: 82px;
}

.feature-content__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 525px;
  width: 100%;
  margin-bottom: 50px;
}

.feature-content__item > img {
  padding-right: 26px;
}

.feature-content__items-content {
  display: block;
}

.feature-content__items-title {
  width: 428px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature-content__items-subtitle {
  width: 428px;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

.feature-img {
  position: absolute;
  top: 100px;
  right: 100px;
}
